# -*- mode: gitignore; -*-

**/*.rs.bk
*.elc
*.pdb
*_archive
*_flymake.*
*~
.\#*
.cask/
.dir-locals.el
.netrwhist
.org-id-locations
.projectile
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
Session.vim
Sessionx.vim
auto-save-list
debug/
dist/
flycheck_*.el
tags
target/
tramp
